################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/DesignPatterns.sln
/WPFTutorials/DesignPatternsDemo/bin/Debug/net6.0
/WPFTutorials/.vs/WPFTutorials/FileContentIndex
